@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@200;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.dark {
    color: #1F2937;
}

.white {
    color: #F9FAF8;
}

.gray {
    color: #E5E7EB;
}

.bold {
    font-weight: bold;
}

.small-text {
    font-size: 16px;
}

.button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-main {
    background-color: #1F2937;
    height: 80vh;
}

header {
    height: 72px;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
}


header ul {
    display: flex;
    column-gap: 20px;
}

.hero {
    width: 80vw;
    margin: 72px 10%;
    display: flex;
    justify-content: space-between;
}

.left-hero {
    width: 40%;
}

.left-hero h1 {
    font-size: 40px;
    font-weight: bolder;
}  

.left-hero p {
    font-size: 24px;
}

.right-hero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-color: #3882f6;
    border-radius: 10px;
}

.right-hero img {
    color: #E5E7EB;
    background-color: #3882f6;
    height: 320px;
}

.info-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    row-gap: 20px;
}

.info-section .header {
    font-size: 38px;
    font-weight: bold;
}

.project-section {
    display: flex;
    column-gap: 30px;
}

.project {
    height: 300px;
    width: 200px;
    text-align: center;
}

.project img {
    border: 3px solid #3882f6;
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 10px;

}

.quote {
    height: 80vh;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.quote-title {
    text-align-last: end;
}

.call-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 0 10%;
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    padding: 36px 50px;
    border-radius: 10px;
    line-height: 5px;
    font-size: 24px;
}

.call-container a {
    border: 3px solid #F9FAF8;
    padding: 15px 25px;
    border-radius: 10px;
}




footer {
    height: 72px;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 700;
}

a:after {
    content: "";
    position: absolute;
    background-color: #3882f6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: #F9FAF8;
}

a:hover:after {
    width: 100%;
}